.vscode/
.trae/

frontend/node_modules/

**/.env
**/.env.*
!**/.env.example

**/__pycache__/
**/*.py[cod]

**/*.log
blankend/logs/

*.zip
checkpoints/

*.tar.Z
*.tar.gz

blankend/debug_output/
blankend/assets/human_pic/1.jpg
blankend/debug_swapper.py
